@import "../../base/vars";

.services {
  position: relative;
  margin-bottom: clamp(5rem, 2.837rem + 9.62vw, 14.375rem);

  &__content {
    max-width: 1484px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    margin-bottom: clamp(1.25rem, 1.106rem + 0.64vw, 1.875rem);
  }

  &__text {
    font-size: clamp(0.875rem, 0.788rem + 0.38vw, 1.25rem);
    font-weight: 400;
    line-height: 150%;
    color: #ecedf4;
    text-align: center;
    margin: 0 auto clamp(1.25rem, 0.962rem + 1.28vw, 2.5rem);
  }

  &__link {
    max-width: 476px;
    display: block;
    margin: 0 auto;

    &:hover {
      max-width: 530px;
    }
  }
}

.services-list {
  @include grid(4);
  gap: clamp(1rem, 0.798rem + 0.9vw, 1.875rem);
  margin-bottom: clamp(1rem, 0.726rem + 1.22vw, 2.188rem);

  @include media(1375px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media(1018px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media(682px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__link {
    display: block;
    padding: 15px;
    border: 1px solid rgba(222, 206, 172, 0.5);
    text-align: center;
    border-radius: 44px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    transition: .3s ease-out;

    &:hover {
      color: #E4B63E;
      border-color: #E4B63E;
    }
  }
}