@import "../../base/vars";

.partners {
  position: relative;
  z-index: 1;
  margin-top: clamp(15.625rem, 10.736rem + 21.73vw, 36.813rem);
  aspect-ratio: 1920 / 819;

  .swiper-wrapper {
    align-items: center;
  }

  &__title {
    text-align: center;
  }

  &__content {
    max-width: 1400px;
    margin: 0 auto;

    @include media(1330px) {
      padding-bottom: 200px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: clamp(0.75rem, 0.635rem + 0.51vw, 1.25rem);
    line-height: 140%;
    text-align: center;
    color: #fff;
    margin-top: clamp(0.625rem, 0.423rem + 0.9vw, 1.5rem);
  }

  &__img-left {
    position: absolute;
    left: 0;
    top: 40px;
    @include media(1830px) {
      max-width: 130px;
    }

    @include media(1330px) {
      display: none;
    }
  }

  &__img-right {
    position: absolute;
    right: 0;
    top: 40px;
    @include media(1830px) {
      max-width: 130px;
    }
    
    @include media(1330px) {
      display: none;
    }
  }

  &__img-center {
    position: absolute;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);

    @include media(1830px) {
      max-width: 240px;
      top: -24px;
    }

    @include media(1330px) {
      display: none;
    }
  }
}

.partners-list {
  margin-top: clamp(1.375rem, 0.769rem + 2.69vw, 4rem);

  .splide__list {
    align-items: center;
  }

  .splide__slide {
    width: clamp(5.875rem, 4.375rem + 6.67vw, 12.375rem);
  }
}